<div>
    <a class='size' href="/surveys/<%= survey.id %>/questions/<%= question.id %>"><%= question.body %></a>
  </div>
  <div class= 'questions'>
    <% if question.choices %>
      <% question.choices.each do |choice|  %>
        <%= erb :'choices/_single_choice', locals: {choice: choice, survey: survey, question: question}  %>
      <% end %>
    <% end %>
 </div>
  <div class='choice'>
    <div class= 'this-choice'></div>
    <a class ='add-new-choice btn btn-primary' href="/surveys/<%= survey.id %>/questions/<%= question.id %>/choices/new">Add new answer</a>
  </div>
  <br>

