<div>
  <div>
    <a  href="/surveys/<%= survey.id %>/questions/<%= question.id %>"><%= question.body %></a>
  </div>
  <div>
    <% if question.choices %>
      <% question.choices.each do |choice|  %>
        <%= erb :'choices/_single_choice', locals: {choice: choice, survey: survey, question: question}  %>
      <% end %>
    <% end %>
 </div>
  <div>
    <a href="/surveys/<%= survey.id %>/questions/<%= question.id %>/choices/new">Add new answer</a>
  </div>
  <br>
</div>
