<div class = 'container2'>
<div>
  <form action='/surveys/<%=survey.id%>/questions/<%= question.id %>' method='post'>
    <input type='hidden' name='_method' value='put'/>
    <input type='text' name='question[body]' value='<%=question.body%>'/>
    <input class="btn btn-primary" type ='submit' value='Update Question'/>
  </form>

<form action='/surveys/<%=survey.id%>/questions/<%= question.id %>' method='post'>
    <input type='hidden' name='_method' value='delete'/>
    <input class="btn btn-primary" type ='submit' value='Delete Question'/>
  </form>
</div>
</div>