<div class= 'survey' id ='<%=@survey.id%>'>
  <h1> <%= @survey.title %> </h1>
    <% if @survey.questions %>
      <% @survey.questions.each do |question|  %>
        <%= erb :'questions/_single_question', locals: {question: question, survey: @survey}  %>
      <% end %>
    <% end %>
  <div class="question">
  </div>
    <a class='add-question' href="/surveys/<%= @survey.id %>/questions/new">Add new question</a>


    <br/>
    <br/>
      <a href="/surveys/<%= @survey.id %>/edit">Edit Survey Title</a>
</div>